*{
    margin: 0px;   
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
}

.nav {
    color: rgb(255, 0, 34);
    font-size: 4rem;
    cursor: pointer;
    background: black;
}

.nav-item {
    float: left;
    list-style-type: none;
}